{% extends 'base.html.twig '%}


{% block body %}

<h1>BLOG</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Deleniti iusto commodi amet dicta exercitationem repellendus vero accusantium cupiditate 
    harum nihil iure mollitia quo repellat cum tempore sunt rerum nemo eveniet quia, saepe itaque! Consectetur in optio
    tempore quod consequatur eaque.
</p>
<p>Soluta ab temporibus, iure quibusdam reiciendis
   expedita et numquam eveniet animi pariatur eum possimus magni, 
   eaque maxime nostrum cumque! Error sapiente quo ipsam libero ducimus explicabo 
   labore vel eveniet quasi est! Velit vero sapiente in ratione dolores esse nulla amet!
</p>    

{% endblock %}

